.center1 {
  color: rgb(41, 5, 170);
  background-color: rgb(243, 167, 74);
  text-align: center;
}

.center2 {
  text-align: center;
}

.frame {
  border: solid rgb(243, 167, 74);
  background-color: rgb(147, 194, 218);
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}

.frame2 {
  border: solid rgb(20, 3, 1);
  background-color: rgb(230, 219, 67);
  width: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5%;
}

.peralta-regular {
  font-family: "Peralta", serif;
  font-size: 125%;
  font-style: normal;
  text-align: center;
}
body{
  background-color: rgb(245, 230, 200);
}


